<!DOCTYPE html>
<html lang="en">
<head>
    <title> Log In </title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        *{
            box-sizing: border-box;
        }

        html, body, .wrapper {
            height: 100%;
        }

        body{
            display: grid;
            place-items: center;
            margin: 0;
            padding: 0;
            background-image: url("./images/blue.svg");
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Ubuntu', sans-serif;
            color: #000;
            animation: rotate 6s infinite alternate linear;
        }

        .login-card {
            position: relative;
            z-index: 3;
            width: 40%;
            margin: 0 20px;
            padding: 70px 30px 44px;
            border-radius: 1.25rem;
            background: #fff;
            text-align: center;
        }

        .login-card > h2 {
            font-size: 36px;
            font-weight: 800;
            margin: 0 0 30px;
        }

        .login-card > h3 {
            font-size: 1rem;
            font-weight: 20;
            margin: 0 0 30px;
            color: rgba(0,0,0,0.38);
        }

        .login-form {
            width: 100%;
            margin: 0;
            display: grid;
            gap: 16px;
        }

        .login-form > input, .login-form > button {
            width: 100%;
            height: 50px;
        }

        .login-form > input {
            border: 2px solid #ebebeb;
            font-family: inherit;
            font-size: 15px;
            padding: 0 16px;
            border-radius: 1.25rem;
            transition: all 0.375s;
        }

        .login-form > input:hover {
            border: 2px solid #10449A;
        }

        .login-form > button {
            cursor: pointer;
            width: 100%;
            padding: 0 16px;
            border-radius: 1.25rem;
            background: #216ce7;
            color: #f9f9f9;
            border: 0;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            letter-spacing: 2px;
            transition: all 0.375s;
        }

        .login-form > button:hover {
            background: #10449A;
        }

        .login-form > footer {
            color: black;
            font-size: 0.9rem;
            text-align: left;
            text-decoration: none;
            margin-bottom: 6px;
            transition: all 0.375s;
        }

        .login-form > footer > a {
            color: #216ce7;
            text-decoration: none;
            transition: all 0.375s;
        }

        @keyframes rotate {
            100%{
                background-position: 15% 50%;
            }
        }

        @media (width >= 500px){
            body{
                padding: 0;
            }
            .login-card{
                margin: 0;
                width: 400px;
            }
        }


    </style>

</head>

<body>
<div class="login-card">


    <% if(weatherResponse) { %>
        <h2><%= cityName + ' - ' + temp +'°F'%></h2>
        <h3><%= weatherResponse %></h3>
    <% } else{ %>
            <h2>Weather App</h2>
        <h3>Enter a city</h3>
    <% } %>


    <form class="login-form" method="post" action="/weatherSearch">
        <input type="text" id="city" name="city" placeholder="Enter City">
        <button type="submit">SEARCH</button>
        <footer>
            <a style="float: left; margin-left: 5px; color: black;">Curious?</a>
            <a href="/weather" style="float: left; margin-left: 5px;">See JSON</a>
        </footer>
    </form>
</div>

</body>
</html>