<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HELLO WORLD</h1>
<h2 id="textFillPls"></h2>
<h3><%= textA %></h3>
</body>
</html>

<script>

    function setText (text) {
        document.getElementById("textFillPls").innerHTML = text;
    }
    const userAction = async () => {
        const response = await fetch('http://localhost:3000/one');
        const myJson = await response.json(); //extract JSON from the http response
        setText(myJson.name);
    }
    userAction();
</script>
